body{
    background:linear-gradient(0deg,#f2e5e5,#ce7777);
 }
 h1{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     background-color:#3b3a55;
     width:600px;
     color: #f2e5e5;
     font-size: 45px;
     
 text-align: center;
     margin: 40px auto;
 
 }
 .fo form{
     background-color: #3b3a55;
     float: right;
     width: 320px;
     height: 400px;
     margin-right: 150px;
     margin-top: 60px;
     box-shadow: 2px 3px 0px #959494;
 }
 .fo h2{
     text-align: center;
     color: #f2e5e5;
     font-family:Arial, Helvetica, sans-serif;
     font-size: 30px;
 
 
 }
 .fo input{
     margin: 13px;
     padding: 10px;
     width: 250px;
    border: none;
    background-color: #e8c4c4;
    color: #3b3a55;
    font-size: 17px;
    position: relative;
    left: 12px;
    
 }
 ::placeholder{
     font-size: 20px;
     color: #3b3a55;
 }
 .fo button{
     width: 270px;
     margin-left: 25px;
     padding: 8px;
     font-size: 22px;
     font-family: 'Times New Roman', Times, serif;
     background-color: #ce7777;
 border: none;
 cursor: pointer;
 color: #3b3a55;
 
 }
 .fo button:hover{
    background-color: #f2e5e5;
 }
 .fo a{
     text-decoration: none;
     font-size: 18px;
     color: #f2e5e5;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 margin-left: 80px;
 }
 .fo a:hover{
     text-decoration:underline;
     color: #ce7777;
 }
 img{
 margin: 0px 100px;
 
 }
 footer{
     height:  30px;
     text-align: center;
     font-size: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: #f2e5e5;
 letter-spacing: 4px;
 margin-top: 26px;
 
 }
 
 
 
 
    .masg{
       background-color:#d91539; 
       color:#f2f2f2;
    
       margin-left:50px;
       font-size:20px;
       padding: 5px;
    }